.promo {
  padding: 20px 0;
}
.order-prize {
  margin: 0 0 33px;
  text-align: center;

  .promo__title {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    color: $aqua;
    text-transform: uppercase;
    letter-spacing: 0.0357143em;
  }

  p {
    margin: 0;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 500;
    color: $white;
    letter-spacing: 0.0357143em;

    span {
      font-weight: bold;
    }
  }

  button {
    margin: 17px auto 0;
    padding: 8px 17px;
    display: block;
    background-color: $aqua;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.0357143em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    max-width: 116px;

    &:hover,
    &:focus {
      opacity: .7;
    }
  }
}

.promo__blocks {
  p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    color: $dark-blue;
  }

  .promo__item {
    margin-bottom: 24px;
    padding: 27px;
    border-radius: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .promo__block {
    margin-bottom: 24px;

    &-receipt {
      background-color: $yellow;
    }

    &-promocode {
      background-color: $purple;
    }
  }

  .promo__know {
    border-radius: 20px;

    &-candy {
      min-height: 167px;
      background: url("../img/candy-mob.png") left top / cover no-repeat;
      border-radius: 20px 20px 0 0;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &-candy {
        background: url("../img/candy-mob@2x.png") left top / cover no-repeat;
      }
    }

    &-content {
      border-radius: 0 0 20px 20px;
      padding: 17px;
      background-color: $aqua;

      p {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        text-align: center;
        color: $dark-blue;
      }

      .promo__annotation {
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.07em;
        text-transform: none;
        font-weight: 400;
        color: $white;
      }

      button {
        font-size: 14px;
      }
    }
  }

  button {
    margin: 16px auto 0;
    padding: 12px 20px;
    display: block;
    background-color: $dark-blue;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    border: none;
    border-radius: 40px;

    &:hover,
    &:focus {
      opacity: .7;
    }
  }
}

@include media-breakpoint-up(sm) {
  .promo__blocks {
    .promo__block {
      margin-bottom: 0;
      height: 100%;
    }

    .promo__item {
      margin-bottom: 10px;

      button {
        margin-top: auto;
        font-size: 14px;
      }
    }

    .promo__item:last-child {
      margin-right: 0;
    }

    .promo__know {
      height: 100%;
      &-candy {
        height: 100%;
        min-height: 110px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .promo {
    padding: 55px 0;
  }

  .order-prize {
    margin: 0 0 55px;

    .promo__title {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

    button {
      padding: 12px 38px;
      font-size: 20px;
      max-width: 193px;
    }
  }

  .promo__blocks {
    .promo__block {
      margin-bottom: 0;
    }

    p {
      font-size: 24px;
      line-height: 1.2;
      text-align: left;
      max-width: 270px;
    }

    .promo__item {
      width: 100%;
      margin-bottom: 32px;
      padding: 36px 32px;

      button {
        margin: 0;
        padding: 12px 24px;
      }
    }

    .promo__know {
      height: 100%;


      &-candy {
        border-radius: 20px 0 0 20px;
        background: url("../img/candy.png") left top no-repeat;
        background-size: cover;
        width: 40.31496%;
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &-candy {
          background: url("../img/candy@2x.png") left top / cover no-repeat;
        }
      }

      &-content {
        border-radius: 0 20px 20px 0;
        padding: 0 32px;
        width: 59.68504%;

        p {
          margin-bottom: 25px;
          font-size: 24px;
          text-align: left;
          max-width: none;
        }

        .promo__annotation {
          margin-bottom: 32px;
          font-size: 16px;
          letter-spacing: 0.12em;
        }

        button {
          margin: 0;
          font-size: 18px;
          max-width: 157px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .order-prize {
    position: relative;

    button {
      margin: 0;
      position: absolute;
      top: 0;
      right: 87px;
    }
  }

  .promo__blocks .promo__item button {
    font-size: 18px;
  }
}
