$montserrat: "Montserrat", Arial, sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$grey: #d8d8d9;
$yellow-title: #F4D852;
$yellow: #FEE465;
$dark-blue: #231651;
$aqua: #4DCCBD;
$purple: #9394DC;

$carousel-transition-duration: 1.5s !default;
